@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
body{
  background: #ffffff;
}
i{
  color:black;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
#background{
  background: linear-gradient(135deg, rgb(200, 110, 230), rgb(160, 40, 150), rgb(220, 60, 50));
}

