@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
body{
  background: #ffffff;
}
i{
  color:black;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
#background{
  background: linear-gradient(140deg, rgb(184, 10, 140) 10%, rgb(124, 5, 79) 36%, rgb(248, 2, 2) 155%);
}

